.descriptionbox{
    margin: 120px 170px;

}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color:#555;

}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
}
.descriptionbox-description p{
    font-size: 16px;
    color: #555;
}
.descriptionbox-description p span{
    font-weight: 600;
}
@media screen and (max-width: 1084px) {
    .descriptionbox{
        margin: 120px 20px;
    }
    .descriptionbox-nav-box{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
    .descriptionbox-description{
        padding: 30px;
    }
    .descriptionbox-description p{
        font-size: 14px;
    }
    .descriptionbox-description p span{
        font-size: 14px;
    }
}
@media screen and (max-width: 700px) {
    .descriptionbox{
        margin: 120px 20px;
    }
    .descriptionbox-nav-box{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
    .descriptionbox-description{
        padding: 30px;
    }
    .descriptionbox-description p{
        font-size: 14px;
    }
    .descriptionbox-description p span{
        font-size: 14px;
    }
}